<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>CrawMobi</title>
        <link rel="icon" href="../static/imagens/icon.png"/>
    </head>

    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img id="logo-principal" src="../static/imagens/icon.png">CrawMobi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{ url_for('about') }}">Sobre</a>
                    <a class="nav-item nav-link" href="{{ url_for('help') }}">Ajuda</a>
                    <a class="nav-item nav-link" href="{{ url_for('contato') }}">Contato</a>
                </div>
            </div>
        </nav>

        <div class="jumbotron apresentacao">
            <h1 class="display-3" id="tituloPrincipal">CrawMobi</h1>

            <form id="upload-form" method="POST" enctype="multipart/form-data">
                
                <!--<div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <input type="file" class="form-control-file" id="arquivo-entrada" name="file">
                    </div>
                    <div class="col-md-1">
                        <input id="btn-subm" type="submit" class="btn btn-blue-grey" value="Upload">
                    </div>
                </div>-->

                <div class="row justify-content-md-center">
                    <div class="input-group col-md-5">
                        <span class="input-group-btn">
                            <span class="btn btn-outline-secondary" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
                            <input type="file" name="file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                        </span>
                        <span class="form-control"></span> <!--Lugar para aparecer o nome do arquivo-->
                        <input type="submit" class="btn btn-outline-secondary" value="Upload" data-toggle="modal" data-target="#ExemploModalCentralizado">
                    </div>
                </div>

            </form>

            <div class="row justify-content-md-center">
                <small class="form-text text-muted">Somente o formato de arquivo "xls" é suportado.</small>
            </div>

            <div id="instrucoes">
                <small class="form-text text-muted">Antes de começar leia as instruções em <a href="{{ url_for('help') }}">ajuda</a>!</small>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalCentralizado">CrawMobi</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row justify-content-md-center">
                        <img src="../static/imagens/loading.gif" id="gif">
                    </div>
                    <div class="modal-body row justify-content-md-center">
                        <span>Por favor, aguarde sua resposta...</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <!--<button type="button" class="btn btn-primary">Download</button>-->
                    </div>
                </div>
          </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    </body>
</html>